<div class="container-fluid header-image">
  <nav class="navbar navbar-expand-lg bgn">
    <a class="navbar-brand" href="#">∆SLØG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BOOK</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="centerpiece">
    <img class="symbol" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Penrose-dreieck.svg/192px-Penrose-dreieck.svg.png" alt="symbol">
    <h2>∆SLØG</h2>
    <h2>PHOTOGRAPHY</h2>
  </div>
</div>
<div class="vr">
  &nbsp;
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="mt-0 display-3">ABOUT ME</h1>
    <div class="media">
      <img class="d-flex align-self-center mr-3 letterlogo" src="https://2.bp.blogspot.com/-L6qGa0havpw/VzQo87poIuI/AAAAAAAAUMs/LhfqAXytN4Q7872jF-Lo8Mgtgds-f2lSQCLcB/s1600/800px-Greek_lambda.png" alt="Generic placeholder image">
        <div class="media-body">
          <p class="lead">Hello. I've been photgraphing Iceland
            and other Nordic countries from the moment I first picked up a camera.
            I was born in Oslo, Norway where I had a happy childhood. Usually I don't
            travel to warmer parts of our globe. I prefer taking photos of cold and dark
            places so I follow the winter. In winter surroundings tend to become still and
            beautiful. When I'm not photographing, I love to watch Game of Thrones and play
            that Overwatch and League of Legends.</p>
        </div>
        </div>
    </div>
</div>
<div class="container-fluid bodyimage">
  <h3>∆SLØG<hr></h3>
  <h1>COLLECTION</h1>


</div>

<div class="albums">
  <div class="vr" id="albums">
    &nbsp;
  </div>
  <h3>RECENT WORK</h3>
  <div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img class="shadow" src="https://i0.wp.com/www.koreanindie.com/wp-content/uploads/2013/11/cranfield-a-nights-band.jpg?fit=600%2C600" alt="Cranfield Band">
    </div>
    <div class="col d-flex justify-content-center">
      <img id="sehun" class="shadow" src="http://data.whicdn.com/images/242625367/large.png" alt="sehun">
    </div>
  <div class="w-100"></div>
    <div class="col d-flex justify-content-center">
      <img class="shadow" src="https://i.pinimg.com/originals/37/c6/f8/37c6f85f5648f50101bb1a6eeb1c503c.jpg" alt="BlackPink">
    </div>
    <div class="col d-flex justify-content-center">
      <img class="shadow" src="https://www.allkpop.com/upload/2017/07/af_org/20165642/EXO.jpg" alt="EXO">
    </div>
  </div>
</div>

</div>
